@charset "UTF-8";
/* 建立一個clearfix的%placeholder，此處代碼不會被輸出到CSS */
/* 使用方法如下所示 */
/*在父元素extend clearfix*/
body {
  font-size: 20px;
  color: #212529;
  font-family: 'Open Sans', 'Lora', 'Times New Roman', serif;
}

p {
  line-height: 1.5;
  margin: 15px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #0085A1;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #868e96;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #868e96;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

/* Main menu wrapper */
.cbp-hsmenu-wrapper {
  position: relative;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 0 1px #fff;
          box-shadow: 0 0 1px #fff;
}

.cbp-hsmenu-wrapper .fa-angle-up {
  display: contents;
}

.cbp-hsmenu-wrapper .fa-angle-down {
  display: none;
}

.cbp-hsmenu-wrapper .cbp-hsitem-open .fa-angle-up {
  display: none;
}

.cbp-hsmenu-wrapper .cbp-hsitem-open .fa-angle-down {
  display: contents;
}

.cbp-hsmenu-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.cbp-hsmenu-wrapper .cbp-hsmenu {
  width: 90%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.5em;
}

/* 100% width bar for menu */
.cbp-hsinner {
  background: #FA7268;
  position: relative;
  z-index: 100;
}

.cbp-hsmenu > li {
  margin-left: 4em;
  display: inline-block;
  font-family: 'Open Sans', 'Lora', 'Times New Roman', serif;
}

.cbp-hsmenu > li:first-child {
  margin-left: 0;
}

/* Main menu link style */
.cbp-hsmenu > li > a {
  color: #fff;
  font-size: 1em;
  line-height: 2.5em;
  display: inline-block;
  position: relative;
  z-index: 10000;
  outline: none;
}

.cbp-hsmenu > li > a > i {
  text-align: right;
  width: 98%;
}

.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
  color: #fff;
}

/* Add an arrow to the main menu link if it has a submenu (not the only child) */
.cbp-hsmenu > li > a:not(:only-child):before {
  display: inline-block;
  font-family: 'bpmenu';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 80%;
  margin-right: 0.3em;
  opacity: 0.4;
  vertical-align: middle;
}

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):focus {
  color: #3B1B18;
}

/* Add a triangle to currently open menu item link */
/* Submenu style */
.cbp-hssubmenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 0;
  text-align: center;
  /* for aligning the sub items */
  visibility: hidden;
}

.cbp-hssubmenu:before,
.cbp-hssubmenu:after {
  content: " ";
  display: table;
}

.cbp-hssubmenu:after {
  clear: both;
}

/* Let's allow 6 item in a row */
.cbp-hssubmenu > li {
  width: 16.2%;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
          box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
  opacity: 0;
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
}

/* First 6 items don't have upper box shadow */
.cbp-hssubmenu > li:nth-child(-n+6) {
  -webkit-box-shadow: -28px 0 0 -27px #ddd;
          box-shadow: -28px 0 0 -27px #ddd;
}

/* Every 7th item does not have a left box shadow */
.cbp-hssubmenu > li:nth-child(6n+1) {
  -webkit-box-shadow: 0 -28px 0 -27px #ddd;
          box-shadow: 0 -28px 0 -27px #ddd;
}

/* The first one does not have any box shadow */
.cbp-hssubmenu > li:first-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cbp-hssubmenu > li a {
  display: block;
  text-align: center;
  color: #252c41;
  outline: none;
  padding: 1em 1em 1em 1em;
}

.no-touch .cbp-hssubmenu > li a:hover,
.no-touch .cbp-hssubmenu > li a:focus {
  color: #f1404b;
}

.cbp-hssubmenu > li a img {
  border: none;
  outline: none;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .cbp-hssubmenu > li a:hover img {
  opacity: 0.5;
}

.cbp-hssubmenu > li a span {
  display: block;
  min-height: 2.5em;
  margin-top: 1em;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
  z-index: 1000;
  visibility: visible;
  background-color: #f7f7f7;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.1s;
  transition: opacity 0.5s 0.1s;
}

/* Helper div for animating the background */
.cbp-hsmenubg {
  background: #f7f7f7;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 0;
  height: 0px;
}

.no-touch .cbp-hsmenubg {
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

@media screen and (max-width: 65em) {
  .cbp-hsmenu-wrapper {
    font-size: 80%;
  }
}

@media screen and (max-width: 51.4375em) {
  .cbp-hsmenu-wrapper {
    font-size: 100%;
  }
  .cbp-hsmenu-wrapper .cbp-hsmenu {
    padding: 0;
    max-width: none;
    width: 100%;
  }
  .cbp-hsmenu > li {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .cbp-hsmenu > li:first-child {
    border-top: none;
  }
  .cbp-hsmenu > li > a {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.2em 0;
  }
  .cbp-hsmenu > li > a:not(:only-child):before {
    line-height: 1.8;
    right: 0;
    position: absolute;
    font-size: 200%;
  }
  .cbp-hsmenubg {
    display: none;
  }
  .cbp-hssubmenu {
    background: #f7f7f7;
    position: relative;
    overflow: hidden;
    height: 0;
  }
  .cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
    height: auto;
  }
  /* Let's only allow 3 item in a row now */
  .cbp-hssubmenu > li {
    width: 30%;
  }
  .cbp-hssubmenu > li > a {
    font-size: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
  }
  /* Reset box shadows for the 6 items in row case */
  .cbp-hssubmenu > li:nth-child(-n+6),
  .cbp-hssubmenu > li:nth-child(6n+1) {
    -webkit-box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
            box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
  }
  /* First 4 items don't have upper box shadow */
  .cbp-hssubmenu > li:nth-child(-n+3) {
    -webkit-box-shadow: -28px 0 0 -27px #ddd;
            box-shadow: -28px 0 0 -27px #ddd;
  }
  /* Every 5th item does not have a left box shadow */
  .cbp-hssubmenu > li:nth-child(3n+1) {
    -webkit-box-shadow: 0 -28px 0 -27px #ddd;
            box-shadow: 0 -28px 0 -27px #ddd;
  }
}

@media screen and (max-width: 25em) {
  /* Let's only allow 1 item in a row now */
  .cbp-hssubmenu > li {
    width: 100%;
    display: block;
  }
  .cbp-hsmenu-wrapper .cbp-hssubmenu > li {
    -webkit-box-shadow: 0 1px #cecece;
            box-shadow: 0 1px #cecece;
    text-align: left;
  }
  .cbp-hssubmenu > li a {
    text-align: left;
    line-height: 50px;
    padding: 0.4em 1em;
  }
  .cbp-hssubmenu > li a img {
    float: left;
    max-height: 50px;
  }
  .cbp-hssubmenu > li a span {
    min-height: 0;
    margin: 0;
  }
}

.sidebar a {
  color: #007bff;
}

.sidebar a:focus, .sidebar a:hover {
  color: #0085A1;
}

.sidebar ul {
  font-size: 1rem;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}

.sidebar .far {
  margin-right: 5px;
}

.sidebar .fas {
  margin-right: 5px;
}

.sidebar .card-header {
  background-color: transparent;
}

.sidebar .list {
  list-style-image: url("../img/icon/arrow-right.png");
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Open Sans', 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.post-wrapper h1 {
  margin-top: 30px;
}

.post-wrapper .post {
  font-size: 1rem;
}

.post-wrapper .post a {
  color: #007bff;
}

.post-wrapper .post a:focus, .post-wrapper .post a:hover {
  color: #0085A1;
}

.post-wrapper .post > p {
  text-align: justify;
}

.post-wrapper .post ul {
  font-size: 1rem;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}

.post-wrapper .post ul.no-style {
  list-style-type: none;
}

.post-wrapper .post .row {
  background: #f8f9fa;
  padding: 10px;
}

.post-wrapper .post .row img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.post-wrapper .post .fas {
  margin-right: 5px;
}

.post-wrapper .post .list {
  list-style-image: url("../img/icon/arrow-right.png");
}

.post-wrapper .post .date {
  color: #dc3545;
}

.post-wrapper .post .txt-right {
  text-align: right;
}

.post-wrapper .post .chair {
  font-weight: 700;
}

.post-wrapper .post .em {
  color: #dc3545;
  font-weight: 700;
}

.post-wrapper .post > .speaker h3 {
  margin-top: 10px;
}

.post-wrapper .post > .post-title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.post-wrapper .post > .post-subtitle {
  font-weight: 400;
  margin: 0 0 10px;
}

.post-wrapper .post > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-wrapper .post > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-wrapper .post > .post-meta > a:focus, .post-wrapper .post > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-wrapper .post > a > .post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dfe3e7;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-family: 'Open Sans', 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'Open Sans', 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dfe3e7;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.carousel-caption {
  top: auto;
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 2px #000;
}

.carousel-caption .subheading {
  font-size: 1.1rem;
}

@media screen and (max-width: 51.4375em) {
  .carousel img {
    width: auto !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 47.938em) {
  .carousel-caption {
    text-align: center;
  }
  .carousel-caption .subheading {
    display: none;
  }
}

@media screen and (max-width: 51.4375em) {
  .cbp-hsmenu-wrapper .fa-angle-up {
    display: inline;
  }
  .cbp-hsmenu-wrapper .cbp-hsitem-open .fa-angle-down {
    display: inline;
  }
}
/*# sourceMappingURL=clean-blog.css.map */