// Bootstrap overrides for this template
.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  @include sans-serif-font;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($primary, 7.5) !important;
    border-color: darken($primary, 7.5) !important;
  }
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.carousel-caption {
  top: auto;
  color: $white;
  text-align: left;
  text-shadow: 1px 1px 2px $black;

  .subheading {
    font-size: 1.1rem;
  }
}


@media screen and (max-width: 51.4375em){

  .carousel img {
    width: auto !important;
    height: 100% !important;
  }

}

@media screen and (max-width: 47.938em) {

  .carousel-caption {
    text-align: center;
    .subheading {
      display: none;
    }
  }

}


