/* 建立一個clearfix的%placeholder，此處代碼不會被輸出到CSS */
/* 使用方法如下所示 */
%clearfix{
    &:after, &:before {
      content: "";
      display: table;
    }
    &:after{
      clear:both;
    }
    *zoom:1;
}
   
/*在父元素extend clearfix*/
//   .wrap{
//     @extend %clearfix;
//   }