@media screen and (max-width: 51.4375em){
    .cbp-hsmenu-wrapper {
        .fa-angle-up {
            display: inline;
        }
        .cbp-hsitem-open {
            .fa-angle-down {
                display: inline;
            }
        }
    }
}