// Styling for the post page
.post-wrapper {

  h1 {
    margin-top: 30px;
  }

  .post {

    font-size: 1rem;

    a {
      color: $blue;
      &:focus,
      &:hover {
        color: $primary;
      }
    }

    > p {
      text-align: justify;
    }

    

    ul {
      @include ul-setting($padding:20px, $font-size:1rem);
      &.no-style {
        list-style-type: none;
      }
      
    }

    .row {
      background: $light;
      padding: 10px;

      img {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    .fas {
      margin-right: 5px;
    }

    .list {
      list-style-image: url('../img/icon/arrow-right.png');
    }

    .date {
      color: $red;
    }

    .txt-right {
      text-align: right;
    }

    .chair {
      font-weight: 700;
    }

    .em {
      color: $red;
      font-weight: 700;
    }

    > .speaker {
      h3 {
        margin-top: 10px;
      }
    }

    > .post-title {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    > .post-subtitle {
      font-weight: 400;
      margin: 0 0 10px;
    }

    > .post-meta {
      font-size: 18px;
      font-style: italic;
      margin-top: 0;
      color: $gray-600;
      > a {
        text-decoration: none;
        color: $gray-900;
        &:focus,
        &:hover {
          text-decoration: underline;
          color: $primary;
        }
      }
    }
    @media only screen and (min-width: 768px) {
      > a {
        > .post-title {
          font-size: 36px;
        }
      }
    }
  }

}