// Styling for the sidebar
.sidebar {

    a {
        color: $blue;
        &:focus,
        &:hover {
          color: $primary;
        }
    }

    ul {
        @include ul-setting($padding:20px, $font-size:1rem);
    }

    .far {
        margin-right: 5px;
    }

    .fas {
        margin-right: 5px;
    }

    .card-header {
        background-color: transparent;
    }

    .list {
        list-style-image: url('../img/icon/arrow-right.png');        
    }
    
}